/formaciojava/.classpath
/formaciojava/.project
/formaciojava/.settings
/formaciojava/target
/log.txt
/pemfiles
/formaciojavatest/.project
/formaciojavatest/.classpath
/formaciojavatest/.settings
/formaciobbdd/.settings
